@media screen and (max-width: 1200px) {
	.menu {
		font-size: 14px;
	}
	.menu__item {
		margin: 0 9px 0 0;
	}
	.menu__link.mail {
		background: url(../img/icons/header-mail.svg) no-repeat left top 1px;
		background-size: 16px 16px;
	}
	.menu__link.phone {
		background: url(../img/icons/header-phone.svg) no-repeat left top 0px;
		background-size: 16px 16px;
	}
	.main-img__box {
		max-width: 80%;
	}
	.advantages {
		background-size: 375px 261px;
	}
	.advantages-list__item {
		font-size: 20px;
	}
	.main-block__text {
		top: 35px;
	}
	.advantages-list__item.help {
		max-width: 271px;
	}
	// greenhouse
	.greenhouses-card__img {
		max-width: 430px;
		height: 225px;
		margin: 16px 36px 0 0;
	}
	.greenhouses-card__info {
		font-size: 16px;
	}
	.card-item__title {
		font-size: 18px;
		margin: 0 0 15px 0;
	}
	.greenhouses-card__descr {
		margin: 19px 0 0 0;
		max-width: 306px;
	}
	.greenhouses-card__parameters {
		grid-row-gap: 15px;
	}
	.greenhouses-card__parameters {
		grid-template-columns: 49px 89px 46px 51px;
	}
	// garden-pavilions
	.pavilions__table-item {
		font-size: 18px;
	}
	// .garden-pavilions__table {
	// grid-template-columns: 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr;
	// }
	.garden-pavilions__table {
		width: 100%;
		grid-template-columns: 73px 72px 65px 73px 73px 98px 104px;
	}
	// additional-goods 
	.card-descr {
		font-size: 16px;
	}
	//story
	.story-block {
		width: 553px;
		height: 367px;
	}
}
@media screen and (max-width: 1023px) {
	.header__menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		right: -50%;
		top: 0;
		background: #fff;
		height: 100vh;
		width: 50%;
		overflow-y: auto;
		z-index: 2;
		padding: 100px 20px;
		transition: transform .3s linear;
	}
	.menu__link.mail {
		background: url(../img/icons/header-mail.svg) no-repeat left 0 top 4px;
		background-size: 16px 16px;
	}
	.menu__link.phone {
		background: url(../img/icons/header-phone.svg) no-repeat left 0px top 2.5px;
		background-size: 16px 16px;
	}

	.header__menu {
		font-size: 18px;
	}
	.header__menu.active {
		transform: translateX(-100%);
		transition: transform .3s linear;
		visibility: visible;
	}
	.header__burger.active {
		& span:nth-child(2) {
			display: none;
		}
		& span:first-child {
			transform: rotate(45deg);
			position: relative;
			top: 8px;
			transition: .3s linear;
		}
		& span:last-child {
			transform: rotate(135deg);
			transition: .3s linear;
		}

	}
	.header__burger {
		display: block;
	}
	.advantages {
		background: none;
	}
	.main-block {
		margin: 60px 0;
	}
	.main-block__text {
		top: 0px;
	}
	.link-btn__box.main {
		display: flex;
		justify-content: center;
		margin: 30px 0 0 0;
	}
	h1 {
		font-size: 36px;
	}
	.menu__item {
		margin: 0 0 25px 0;
	}
	//greenhouse 
	.greenhouses-card__item {
		flex-direction: column;
	}
	.greenhouses-card__info {
		line-height: 20px;
	}
	.greenhouses-card__img {
		margin: 16px 25px 0 0;
		max-width: 530px;
		width: auto;
		height: auto;
	}
	.greenhouses-card__info {
		max-width: 100%;
		margin: 10px 0 0 0;
	}
	.greenhouses-card__parameters {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.greenhouses-card__descr {
		max-width: 465px;
	}
	//garden-pavilions 
	.garden-pavilions__wrapper {
		flex-direction: column;
	}
	.garden-pavilions__img {
		margin: 0 24px 5px 0;
		width: calc(100% - 24px);
		padding-top: 48.08%;
	}
	.garden-pavilions__table {
		margin: 7px 0 0 0;
	}
	.garden-pavilions__table {
		grid-template-rows: 42px 42px 42px 42px;
		grid-template-columns: 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr;
	}
	.garden-pavilions__descr {
		margin: 26px 0 0 0;
		font-size: 16px;
		line-height: 19px;
	}
	//addition-goods 
	
	.additional-goods__wrapper {
		grid-column-gap: 32px;
		grid-row-gap: 44px;
	}
	.card-link {
		font-size: 14px;
		padding: 3.5px;
	}
	.additional-goods__descr {
		margin: 0 0 12px 0;
	}
	.additional-goods__info {
		padding: 0;
	}
	//story
	.story-block {
		width: 440px;
		height: 260px;
		&:before {
			content: '';
			width: 250px;
			height: 250px;
			background: url(../img/story-dl.svg) no-repeat;
			background-size: 250px 250px;
			position: absolute;
			left: -160px;
			bottom: -14px;
			z-index: -1;
		}
		&:after {
			content: '';
			width: 250px;
			height: 250px;
			background: url(../img/story-dr.svg) no-repeat;
			background-size: 250px 250px;
			position: absolute;
			right: -150px;
			bottom: 2px;
			z-index: -1;
		}
	}
}
@media screen and (max-width: 840px) {
	// index 
	.main-img__box {
		max-width: 85%;
	}
	// additional-goods 
	.additional-goods__box {
		flex-direction: column;
	}
	.additional-goods__box {
		margin: 0;
	}
	.additional-goods__item {
		margin: 0 24px 0 0;
	}
	.additional-goods__info {
		width: calc(100% + 15px);
	}
	.aside {
		margin: 10px 0 23px 0;
		width: 100%;
		border: none;
	}
	.aside-chevron {
		display: inline-block;
		&.rotated {
			transform: rotate(180deg);
		}
	}
	.aside__list {
		border: 1px solid #D1D1D1;
		border-radius: 5px;
	}
	.aside__link {
		display: none;
		width: 100%;
		font-size: 16px;
		font-family: 'San Francisco Pro Display Regular';
		padding: 11px;
		&.current {
			display: block;
			background: none;
			color: #204B59;
			font-size: 16px;
			font-family: 'San Francisco Pro Display Regular';
			padding: 11px;
		}
		&.active {
			display: block;
		}
	}
	.breadcrumb__item {
		padding: 0;
		margin: 0 20px 0 0;
		&:last-child {
			padding: 0;
		}
		&:first-child {
			padding: 0 0 0 10px;
		}
	}
	.breadcrumbs-list {
		overflow-x: auto;
		white-space: nowrap;
		padding: 0 0 5px 0px;
		margin: 24px 0 0 0;
		justify-content: flex-start;
		&::-webkit-scrollbar { 
			width: 0 !important ;
			height: 0 !important;
		}
	}
	.breadcrumb__item:after {
		content: none;
	}
	//greenhouses
	.greenhouses-box {
		flex-direction: column;
		margin: 0;
	}
	.greenhouses-card__img {
		max-width: 100%;
	}
}
@media screen and (max-width: 769px) {
	.main-link__btn {
		width: 100%;
		text-align: center;
	}
	.advantages-list {
		flex-direction: column;
		align-items: flex-start;
	}
	.main-block__text {
		top: -41px;
	}
	.advantages__title {
		font-size: 24px;
		line-height: 36px;
	}
	.advantages-list__item.partners {
		margin: 0 0 30px 0;
	}
	//greenhouse
	.greenhouses-card__img {
		margin: 11px 15px 0 0;
	}
	.card__img {
		box-shadow: 16px -15px 0px -2px #bfdcae;
	}
	.advantages-list__item {
		font-size: 18px;
		background-size: 36px 36px !important;
		padding: 0 0 0 46px;
		line-height: 23.6px;
		&.delivery {
			margin: 0 0 5.5px 0;
			padding: 5.5px 0 5.5px 46px;
			max-width: 100%;
		}
		&.help {
			margin: 0 0 5.5px 0;
			padding: 5.5px 0 5.5px 46px;
			max-width: 100%;
		}
		&.offers {
			margin: 0 0 5.5px 0;
			padding: 5.5px 0 5.5px 46px;
			background: url(../img/icons/adv-offers.svg) no-repeat left center;
			max-width: 100%;
		}
		&.biggest {
			margin: 0;
			padding: 5.5px 0 5.5px 46px;
			max-width: 100%;
		}
		&.partners {
			margin: 0 0 5.5px 0;
			padding: 5.5px 0 5.5px 46px;
			max-width: 100%;
		}
	}
	.greenhouses-card__parameters {
		grid-row-gap: 9px;
		grid-column-gap: 11px;
		grid-template-columns: 48px 82px 48px 40px;
	}
	.greenhouses-card__descr {
		margin: 9px 0 0 0;
		max-width: 590px;
	}
	.greenhouses-link__box {
		margin: 9px 0 0 0;
	}
	.greenhouses-card__item {
		margin: 0 0 22px 0;
	}
	//garden-pavilions 
	.garden-pavilions__wrapper {
		justify-content: flex-start;
		align-items: flex-start;
		margin: 31px 0 0 0;
	}
	.garden-pavilions__table {
		width: 100%;
		overflow: auto;
		grid-template-columns: 68px 67px 61px 65px 65px 98px 104px;
		justify-content: center;
		&::-webkit-scrollbar { 
			width: 0 !important ;
			height: 0 !important;
		}
	}
	.garden-pavilions__img {
		margin: 0 15px 0 0;
		width: calc(100% - 14px);
	}
	.page-navigation {
		width: 100%;
		overflow-x: scroll;
		font-size: 18px;
		white-space: nowrap;
		&::-webkit-scrollbar { 
			width: 0 !important ;
			height: 0 !important;
		}
	}
	.garden-pavilions .link__btn {
		width: 100%;
	}
	.page-navigation__link.back {
		background-size: 18px 16px;
		padding: 0 0 0 38px;
	}
	.page-navigation {
		margin: 18px 0 0 0;
	}
	.page-navigation__item {
		padding: 5px 17px 5px 0;
		margin: 0 4px 0 0;
		&:after {
			height: 21px;
		}
	}
	.garden-pavilions .link__btn {
		font-size: 14px;
	}
	
	// garden-beds 
	.garden-beds__box {
		grid-template-columns: 4fr;
		justify-content: center;
		margin: 31px 0 0 0;
	}
	.garden-bed__item {
		margin: 0 15px 0 0;
	}
	.garden-bed__img {
		max-width: 100%;
	}
	.garden-beds__descr {
		font-size: 16px;
		line-height: 19px;
	}
	.link-btn__box.garden-beds  {
		text-align: center;
		& .link__btn {
			width: 100%;
		}
	}
	//additional-goods 
	.additional-goods__item {
		margin: 0 15px 0 0;
	}
	//story
	.story-block {
		width: 100%;
		height: 163px;
		&:before {
			content: '';
			width: 203px;
			height: 208px;
			background: url(../img/story-ml.svg) no-repeat;
			background-size: 203px 208px;
			position: absolute;
			left: -24px;
			bottom: -119px;
			z-index: -1;
		}
		&:after {
			content: '';
			width: 134px;
			height: 135px;
			background: url(../img/story-mr.svg) no-repeat;
			background-size: 134px 135px;
			position: absolute;
			right: -2px;
			bottom: auto;
			top: -78px;
			z-index: -1;
		}
	}
	.story-inner {
		margin: 31px 0 0 0;
	}
	.link-btn__box.story  {
		text-align: center;
		& .link__btn {
			width: 100%;
		}
	}
	.story-title {
		text-align: left;
		margin: 0 0 19px 0;
	}
	//contacts 
	.contacts-inner {
		margin: 21px 0 0 0;
	}
	.contacts-items__box {
		grid-template-columns: 2fr 2fr;
	}
	.contacts-title {
		margin: 0 0 21px 0;
	}
	.contacts-items__box {
		padding: 0 0 0 13px;
	}
	.contact-head {
		margin: 0 0 16px 0;
	}
	.contact-body a {
		margin: 13px 0 0 0;
	}
	.link-btn__box.contacts a {
		width: 100%;
		text-align: center;
		font-size: 14px;
	}
}
@media screen and (max-width: 550px) {
	.header {
		padding: 7px 0;
	}
	h1 {
		font-size: 24px;
		line-height: 28px;
	}
	.footer__copy {
		width: 100%;
		text-align: center;
		margin: 10px 0 0 0;
	}
	.footer__contacts {
		order: -1;
	}
	.footer__logo {
		order: -2;
	}
	.logo__icon {
		width: 27px;
		height: 34px;
	}
	.logo__text {
		font-size: 16px;
		max-width: 87px;
	}
	.link__btn {
		font-size: 18px;
		padding: 13px 12.5px;
	}
	.link-btn__box.main {
		margin: 30px 0 0 0;
	}
	.main-block {
		margin: 42px 0 57px 0;
	}
	.main-img__box {
		max-width: 80%;
	}
	.advantages-list {
		margin: 5.5px 0 0 0;
	}
	
	.header__menu {
		right: -100%;
		transition: all .6s linear;
	}
	.header__menu.active {
		width: 100%;
		transform: translateX(-100%);
		transition: transform .3s linear
	}
	//additional-goods 
	.additional-goods__wrapper {
		grid-column-gap: 0px;
		grid-row-gap: 32px;
		grid-template-columns: 4fr;
	}
	.additional-goods__img {
		max-width: 100%;
	}
	//contacts 
	.contacts-items__box {
		grid-template-columns: 4fr;
		grid-row-gap: 16px;
	}
	//modal
	.modal-form {
		width: 90%;
	}
	//garden-pavilions 
	.garden-pavilions__table {
		justify-content: flex-start;
	}
}
